/* DOCUMENTO CSS */
*{ margin: 0; }
body{ font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

h1 { text-align: center;
font-size: 2em;
background-color: aqua; 
padding: 8px 0px ;}

h2 { text-decoration: underline; 
padding-bottom: 8px;
font-size: 1.4em;}


body header.Cabecera { background-color: blue; 
            padding: 16px 0px;
            margin-bottom: 16px; }

.temas { padding: 16px 0px; 
         width: 70%;
         margin: 0px auto;
        border-bottom: rgb(14, 53, 227) solid 4px;}

.temas ol, .temas ul, .temas dl { padding-bottom: 16px; }

.temas p { line-height: 180%; 
            padding-bottom: 24px;}

 footer.pie { text-align: center; background-color: darksalmon;
margin-top: 24px;
color: rgb(241, 247, 247);
padding: 16px 0px;}

#tablas { border-bottom:none; }